@media (max-width: 500px) {
  .add-form input,
  .add-form button {
    flex: 1 1 100%;
  }
}

.add-actions-container{
    flex-direction: column;
    display: flex;
    align-content: center;
    text-align: left;
    background-color: var(--main-color);
    padding: 20px;
    outline: 2px solid var(--main-color); 
    outline-offset: 2px;  
    border-radius: 12px;
}

.add-form-container{
    display: flex;
    width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid var(--body-color);
    padding: 40px;

}

.add-form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.input-form{
    min-width:200px;
    min-height: 50px;
    border: 1px solid var(--body-color);
    border-radius: 6px;
    background-color:rgb(44, 44, 44);
    color: white;
    padding-left: 10px;
}
.input-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100px;
    gap: 8px;
    height: 40px
}
@media (max-width: 768px) {
    .add-form-container {
        padding: 15px;
    }
    .add-form {
        gap: 15px;
    }
    .input-form {
        width: 100%; /* Full width inputs */
    }
    .input-button {
        width: 100%; /* Full width button */
        justify-content: center;
    }
}