.main-actions-container{
    flex-direction: column;
    display: flex;
    align-content: center;
    text-align: left;
    background-color: var(--main-color);
    padding: 20px;
}


.main-content-container {
  display: flex;
  height: 100vh;     /* Full viewport height */
  width: 100vw;      /* Full viewport width */
  overflow: hidden;
}

.main-content-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.admin-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
  background-color: var(--body-color); /* Or whatever you want */
}