*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
    color: white;
}

.main {
    width: 100%;
}

.left{
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-list{
    display: flex;
    gap: 24px;
    list-style: none;
}

.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:  4px;
    padding: 8px;
    width: 75px;
    height: 35px;
}

.main-content {
    display: flex;
    padding-top: 250px; 
    padding-bottom: 125px;
    gap:12px;
    background-color: var(--main-color);
    color: rgb(252, 252, 252);
    justify-content: center;
    border-bottom: 1px solid rgb(63, 63, 63);
}

.hero-text{
    text-align: center;
    font-size: 50px;
    width: 100%;
    max-width: 1000px;
    font-family: 'IBM Plex Mono', monospace;
    
}
.left-text{
    max-width: 500px;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 12px;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about{
    display: flex;
    background-color: var(--main-color);
    align-items: center;
    padding:120px;
    flex-direction: column;
    gap: 30px
}
.darker-text{
    color: rgb(128, 128, 128);
}

.cards-container{
    display: flex;
    justify-content: space-between;
    gap:100px;
}
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Stack content vertically */
        padding: 50px 20px; /* Adjust padding */
        text-align: center;
    }
    .left-text {
        max-width: 100%; /* Full width text */
    }
    .right-content {
        display: none; /* Hide illustrative content if it takes too much space */
    }
    .about {
        padding: 50px 20px; /* Adjust padding */
    }
    .cards-container {
        flex-direction: column; /* Stack profile cards vertically */
        gap: 30px; /* Adjust gap */
        align-items: center; /* Center cards */
    }
}