.main-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    padding: 24px;
    height: 100vh;
}

.login-element{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    flex-direction: column;
    padding: 32px;
    border-radius: 12px;
    gap:12px;
    border: none;
    outline: 2px solid var(--main-color);  
    outline-offset: 2px;   
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text-box{
    min-height: 35px;
    min-width: 205px;
    width: 100%;
    border: 1px solid var(--body-color);
    border-radius: 6px;
    background-color: var(--main-color);
    color: white
}

.sign-in{
    min-height: 35px;
    min-width: 200px;
}

.options{
    display: flex;
    gap: 12px;
    align-items: center;
}

.options-left{
    display: flex;
    align-items: center;
}

#link{
    font-size: 12px;;
}