
table{
    width: 60%;
}

table tr th,td{
    text-align: justify;
    padding: 15px;
    border: 1px solid;
    border-color: var(--border);
}

.list-of-users{
    border-collapse: collapse;

}
.main-reports-container{
    flex-direction: column;
    display: flex;
    align-content: center;
    text-align: left;
    background-color: var(--main-color);
    padding: 25px;
    outline: 2px solid var(--main-color); 
    outline-offset: 2px;  
    border-radius: 12px;
}

.reports-container{
    border: 1px solid var(--body-color);
    border-radius: 12px;
    padding:12px;
}