.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    padding: 18px 28px;
    background-color: var(--main-color);
    position: fixed;
    /* box-shadow: 2px 2px 5px rgb(103, 103, 103), -2px -2px 5px rgb(103, 103, 103); */
}